* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8eef0;
}

.keyboard-shortcuts {
  color: #4d5763;
}

.keyboard-shortcuts:hover {
  cursor: pointer;
  text-decoration: underline;
}

.calculator {
  background-color: #0d1b2a;
  border: 1px solid #e2ebec;
  padding: 20px 25px 40px 25px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  flex-grow: 0;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.mirror {
  background-color: #b0d0f3;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  align-self: center;
}

.display-container {
  background-color: #1e4064;
  border-radius: 0.2rem;
  height: 80px;
  padding: 3px 7px;
  display: flex;
  align-items: last baseline;
  justify-content: end;
  box-shadow: inset 0px 0px 5px rgba(189, 189, 189, 0.3);
}

.display {
  color: #f2f2f2;
  font-size: 50px;
  font-family: arial;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 14px;
}

.row .zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 0.4rem;
  color: #f2f2f2;
  font-size: 16px;
  transition: transform 0.1s ease;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.number {
  background: linear-gradient(#15304d);
}

.clear,
.delete {
  background-color: #b93434;
}

.operator {
  background-color: #0c72df;
}

.decimal {
  background-color: #1e4064;
}

.equal {
  background-color: #1e3164;
  grid-column-start: 4;
  grid-column-end: 6;
}

.keyboard-dialogue {
  z-index: 1000;
  position: fixed;
  top: -50%;
  left: 50%;
  padding: 20px;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: all .8s ease;
  opacity: 0;
}

.keyboard-dialogue-active {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.key-match {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 12px;
}

.key-match .title {
  font-size: 18px;
  font-weight: 600;
  color: #3790f0;
}

.keyboard-dialogue button {
  background-color: #dfedfc;
  color: #3790f0;
  border: 1px solid #d2dbf5;
  width: 100%;
  margin-top: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease border 0.3s ease;
}

.keyboard-dialogue button:hover {
  background-color: #c0defd;
  box-shadow: 0px 1px 8px #d2e6fc;
  border: 1px solid #c6dffa;
}

.dialogue-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  visibility: hidden;
}

.dialogue-overlay-active {
  visibility: visible;
}
